<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="220" />
	<property name="View" value="tableview" />
	<property name="View.column_0_name" value="Signal" />
	<property name="View.column_0_show" value="true" />
	<property name="View.column_0_width" value="182" />
	<property name="View.column_1_name" value="Time" />
	<property name="View.column_1_show" value="true" />
	<property name="View.column_1_width" value="100" />
	<property name="View.column_2_name" value="Value" />
	<property name="View.column_2_show" value="true" />
	<property name="View.column_2_width" value="100" />
	<property name="View.column_3_name" value="Unit" />
	<property name="View.column_3_show" value="true" />
	<property name="View.column_3_width" value="100" />
	<property name="View.column_4_name" value="Raw" />
	<property name="View.column_4_show" value="true" />
	<property name="View.column_4_width" value="100" />
	<property name="View.column_5_name" value="Text" />
	<property name="View.column_5_show" value="true" />
	<property name="View.column_5_width" value="100" />
	<property name="View.height" value="505" />
	<property name="View.maximized" value="false" />
	<property name="View.signal_0_displayformat" value="1" />
	<property name="View.signal_0_displayname" value="fp_goal_steering_angle" />
	<property name="View.signal_0_name" value="adtf.core.mediadescription_manager/Follow_Path/Steering_Angle/data/tSignalValue/f32Value" />
	<property name="View.signal_0_unit" value="" />
	<property name="View.signal_10_displayformat" value="1" />
	<property name="View.signal_10_displayname" value="acc_set_car_speed" />
	<property name="View.signal_10_name" value="adtf.core.mediadescription_manager/Ultrasonic_ACC/Target_Speed_acc/data/tSignalValue/f32Value" />
	<property name="View.signal_10_unit" value="" />
	<property name="View.signal_11_displayformat" value="1" />
	<property name="View.signal_11_displayname" value="meas_car_speed" />
	<property name="View.signal_11_name" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/car_speed/data/tSignalValue/f32Value" />
	<property name="View.signal_11_unit" value="" />
	<property name="View.signal_12_displayformat" value="1" />
	<property name="View.signal_12_displayname" value="line_spec_feedback_status" />
	<property name="View.signal_12_name" value="adtf.core.mediadescription_manager/LineSpecifier/feedback/data/tFeedbackStruct/status" />
	<property name="View.signal_12_unit" value="" />
	<property name="View.signal_13_displayformat" value="1" />
	<property name="View.signal_13_displayname" value="line_spec_speed_out" />
	<property name="View.signal_13_name" value="adtf.core.mediadescription_manager/LineSpecifier/speed/data/tSignalValue/f32Value" />
	<property name="View.signal_13_unit" value="" />
	<property name="View.signal_14_displayformat" value="1" />
	<property name="View.signal_14_displayname" value="light_brake" />
	<property name="View.signal_14_name" value="adtf.core.mediadescription_manager/Light_Control/brakeLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_14_unit" value="" />
	<property name="View.signal_15_displayformat" value="1" />
	<property name="View.signal_15_displayname" value="status" />
	<property name="View.signal_15_name" value="adtf.core.mediadescription_manager/Light_Control/feedback/data/tFeedbackStruct/status" />
	<property name="View.signal_15_unit" value="" />
	<property name="View.signal_16_displayformat" value="1" />
	<property name="View.signal_16_displayname" value="light_hazard" />
	<property name="View.signal_16_name" value="adtf.core.mediadescription_manager/Light_Control/hazardLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_16_unit" value="" />
	<property name="View.signal_17_displayformat" value="1" />
	<property name="View.signal_17_displayname" value="light_head" />
	<property name="View.signal_17_name" value="adtf.core.mediadescription_manager/Light_Control/headLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_17_unit" value="" />
	<property name="View.signal_18_displayformat" value="1" />
	<property name="View.signal_18_displayname" value="light_reverse" />
	<property name="View.signal_18_name" value="adtf.core.mediadescription_manager/Light_Control/reverseLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_18_unit" value="" />
	<property name="View.signal_19_displayformat" value="1" />
	<property name="View.signal_19_displayname" value="light_turnleft" />
	<property name="View.signal_19_name" value="adtf.core.mediadescription_manager/Light_Control/turnLeftLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_19_unit" value="" />
	<property name="View.signal_1_displayformat" value="1" />
	<property name="View.signal_1_displayname" value="pose_f32_x" />
	<property name="View.signal_1_name" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_x" />
	<property name="View.signal_1_unit" value="" />
	<property name="View.signal_20_displayformat" value="1" />
	<property name="View.signal_20_displayname" value="light_turnright" />
	<property name="View.signal_20_name" value="adtf.core.mediadescription_manager/Light_Control/turnRightLight/data/tBoolSignalValue/bValue" />
	<property name="View.signal_20_unit" value="" />
	<property name="View.signal_21_displayformat" value="1" />
	<property name="View.signal_21_displayname" value="carcontrol_head" />
	<property name="View.signal_21_name" value="adtf.core.mediadescription_manager/AADC_Car_Control/headLightEnabled/data/tBoolSignalValue/bValue" />
	<property name="View.signal_21_unit" value="" />
	<property name="View.signal_22_displayformat" value="1" />
	<property name="View.signal_22_displayname" value="carcontrol_left" />
	<property name="View.signal_22_name" value="adtf.core.mediadescription_manager/AADC_Car_Control/turnSignalLeftEnabled/data/tBoolSignalValue/bValue" />
	<property name="View.signal_22_unit" value="" />
	<property name="View.signal_23_displayformat" value="1" />
	<property name="View.signal_23_displayname" value="carcontrol_right" />
	<property name="View.signal_23_name" value="adtf.core.mediadescription_manager/AADC_Car_Control/turnSignalRightEnabled/data/tBoolSignalValue/bValue" />
	<property name="View.signal_23_unit" value="" />
	<property name="View.signal_2_displayformat" value="1" />
	<property name="View.signal_2_displayname" value="pose_f32_y" />
	<property name="View.signal_2_name" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_y" />
	<property name="View.signal_2_unit" value="" />
	<property name="View.signal_3_displayformat" value="1" />
	<property name="View.signal_3_displayname" value="pose_f32_yaw" />
	<property name="View.signal_3_name" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_yaw" />
	<property name="View.signal_3_unit" value="" />
	<property name="View.signal_4_displayformat" value="1" />
	<property name="View.signal_4_displayname" value="fp_goal_x" />
	<property name="View.signal_4_name" value="adtf.core.mediadescription_manager/Follow_Path/Goal_X/data/tSignalValue/f32Value" />
	<property name="View.signal_4_unit" value="" />
	<property name="View.signal_5_displayformat" value="1" />
	<property name="View.signal_5_displayname" value="fp_goal_y" />
	<property name="View.signal_5_name" value="adtf.core.mediadescription_manager/Follow_Path/Goal_Y/data/tSignalValue/f32Value" />
	<property name="View.signal_5_unit" value="" />
	<property name="View.signal_6_displayformat" value="1" />
	<property name="View.signal_6_displayname" value="wheelspeed_controller_out" />
	<property name="View.signal_6_name" value="adtf.core.mediadescription_manager/AADC_Wheel_Speed_Controller/actuator_output/data/tSignalValue/f32Value" />
	<property name="View.signal_6_unit" value="" />
	<property name="View.signal_7_displayformat" value="1" />
	<property name="View.signal_7_displayname" value="fp_goal_car_speed" />
	<property name="View.signal_7_name" value="adtf.core.mediadescription_manager/Follow_Path/Car_Speed/data/tSignalValue/f32Value" />
	<property name="View.signal_7_unit" value="" />
	<property name="View.signal_8_displayformat" value="1" />
	<property name="View.signal_8_displayname" value="line_spec_steeringangle" />
	<property name="View.signal_8_name" value="adtf.core.mediadescription_manager/LineSpecifier/Steering_Angle/data/tSignalValue/f32Value" />
	<property name="View.signal_8_unit" value="" />
	<property name="View.signal_9_displayformat" value="1" />
	<property name="View.signal_9_displayname" value="overall_distance" />
	<property name="View.signal_9_name" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/distance_overall/data/tSignalValue/f32Value" />
	<property name="View.signal_9_unit" value="" />
	<property name="View.signal_count" value="24" />
	<property name="View.width" value="677" />
	<property name="View.x_pos" value="0" />
	<property name="View.y_pos" value="0" />
	<property name="View 2" value="scopeview" />
	<property name="View 2.active_signal" value="0" />
	<property name="View 2.autozoom_timer" value="false" />
	<property name="View 2.autozoomproperties_allsignals" value="true" />
	<property name="View 2.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View 2.autozoomproperties_refreshrate" value="1000" />
	<property name="View 2.col_back_b" value="0" />
	<property name="View 2.col_back_g" value="0" />
	<property name="View 2.col_back_r" value="0" />
	<property name="View 2.col_grid_b" value="50" />
	<property name="View 2.col_grid_g" value="50" />
	<property name="View 2.col_grid_r" value="50" />
	<property name="View 2.column_name_width" value="100" />
	<property name="View 2.height" value="537" />
	<property name="View 2.link_selections" value="false" />
	<property name="View 2.maximized" value="false" />
	<property name="View 2.menubar" value="true" />
	<property name="View 2.sel_mode" value="0" />
	<property name="View 2.show_active_only" value="false" />
	<property name="View 2.show_markers" value="true" />
	<property name="View 2.show_modified_only" value="false" />
	<property name="View 2.show_one_scale" value="false" />
	<property name="View 2.showcolumn_minmaxavg" value="true" />
	<property name="View 2.showcolumn_selection" value="true" />
	<property name="View 2.showcolumn_unit" value="true" />
	<property name="View 2.sig0" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_x" />
	<property name="View 2.sig0.cblue" value="0" />
	<property name="View 2.sig0.cgreen" value="255" />
	<property name="View 2.sig0.cred" value="0" />
	<property name="View 2.sig0.displayname" value="f32_x" />
	<property name="View 2.sig0.factor" value="1" />
	<property name="View 2.sig0.linestyle" value="1" />
	<property name="View 2.sig0.max" value="1000" />
	<property name="View 2.sig0.min" value="-1000" />
	<property name="View 2.sig0.offset" value="0" />
	<property name="View 2.sig0.plotpoints" value="false" />
	<property name="View 2.sig0.scale_max" value="2,473545312" />
	<property name="View 2.sig0.scale_min" value="-2,473545312" />
	<property name="View 2.sig0.show" value="true" />
	<property name="View 2.sig0.show_scale" value="1" />
	<property name="View 2.sig0.unit" value="" />
	<property name="View 2.sig1" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_y" />
	<property name="View 2.sig1.cblue" value="0" />
	<property name="View 2.sig1.cgreen" value="0" />
	<property name="View 2.sig1.cred" value="255" />
	<property name="View 2.sig1.displayname" value="f32_y" />
	<property name="View 2.sig1.factor" value="1" />
	<property name="View 2.sig1.linestyle" value="1" />
	<property name="View 2.sig1.max" value="1000" />
	<property name="View 2.sig1.min" value="-1000" />
	<property name="View 2.sig1.offset" value="0" />
	<property name="View 2.sig1.plotpoints" value="false" />
	<property name="View 2.sig1.scale_max" value="2,473545312" />
	<property name="View 2.sig1.scale_min" value="-2,473545312" />
	<property name="View 2.sig1.show" value="true" />
	<property name="View 2.sig1.show_scale" value="1" />
	<property name="View 2.sig1.unit" value="" />
	<property name="View 2.sig2" value="adtf.core.mediadescription_manager/Car_Pose/Pose_output/data/tPoseStruct/f32_yaw" />
	<property name="View 2.sig2.cblue" value="255" />
	<property name="View 2.sig2.cgreen" value="255" />
	<property name="View 2.sig2.cred" value="0" />
	<property name="View 2.sig2.displayname" value="f32_yaw" />
	<property name="View 2.sig2.factor" value="1" />
	<property name="View 2.sig2.linestyle" value="1" />
	<property name="View 2.sig2.max" value="1000" />
	<property name="View 2.sig2.min" value="-1000" />
	<property name="View 2.sig2.offset" value="0" />
	<property name="View 2.sig2.plotpoints" value="false" />
	<property name="View 2.sig2.scale_max" value="2,473545312" />
	<property name="View 2.sig2.scale_min" value="-2,473545312" />
	<property name="View 2.sig2.show" value="true" />
	<property name="View 2.sig2.show_scale" value="1" />
	<property name="View 2.sig2.unit" value="" />
	<property name="View 2.signal_count" value="3" />
	<property name="View 2.signal_label_x_offset" value="0" />
	<property name="View 2.signal_label_y_offset" value="0" />
	<property name="View 2.splitterpos1" value="256" />
	<property name="View 2.splitterpos2" value="585" />
	<property name="View 2.statusbar" value="true" />
	<property name="View 2.toolbar" value="true" />
	<property name="View 2.width" value="855" />
	<property name="View 2.x_pos" value="68" />
	<property name="View 2.Xinterval" value="10000000" />
	<property name="View 2.y_pos" value="510" />
	<property name="View 2.Ymax" value="2,473545312" />
	<property name="View 2.Ymin" value="-2,473545312" />
	<property name="View 2.zoom_mode" value="1" />
	<property name="width" value="420" />
</xml>
